{% extends "extract/base.html" %}
{% load static %}

{% block anay %} 
<title>Contact Us</title>
<link href="{% static "extract/contactUs.css" %}" type="text/css" rel="stylesheet">
{% endblock anay%}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="top"><!--will become 12 under medium size with other column below is-->
        <h2>We would love to hear from you!!</h2>
        <form action="/action_page.php">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Password:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember">Remember me
          </label>
          </div>
          <div class="form-group">
            <label>Any Suggestions/Comments?</label>
            <textarea placeholder="Comments" class="form-control" rows="5" id="comment" name="comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-6" id="bottom">
        <img src="#">
          
        </div>
      </form>
    </div>
  </div>


{% endblock %}